#testng reports
test-output/

#maven reports & compiled files
target/

#log4j reports & excel reports
reports/excelreport/
reports/HTML/
reports/logs/

#screenshots
screenshots/

#allure reports
allure-results/
